.wrapper404 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 220px);
    font-size: calc(100vh - 220px);
    padding-top: 10vh;
}

.text404 {
    font-size: 20%;
    color: white;
    text-align: center;
}

.info404 {
    font-size: 7%;
    color: white;
}

.cat404 {
    font-size: 20%;
    color: white;
}