body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.PurpleBliss {
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.PurpleBliss h2 {
    color: #005578;
}
.PurpleBliss hr {
    border-color: white;
    border-top-color: transparent;
}

.Amin {
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Amin h2 {
    color: #c16019;
}
.Amin hr {
    border-color: #659999;
}

.Clouds {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Clouds h2 {
    color: #fff;
}
.Clouds h1 {
    color: #7a8585;
}
.Clouds hr {
    border-color: #ccc;
}
.Clouds .wrapper {
    background-color: #7a8585;
    color: white;
}
.Clouds .navLink {
    background-color: #7a8585;
}
.Clouds .navLink:hover {
    color: #7a8585;
}
.Clouds .navLinkActive {
    color: #7a8585;
    background-color: white;
}
.Clouds .menuIcon::before,
.Clouds .menuIcon::after,
.Clouds .menuIcon {
    background-color: #7a8585;
}

.Royal {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Royal h2 {
    color: #131a28;
}

hr {
    border-style: solid;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    background-color: rgba(255, 255, 255, .35);
    backdrop-filter: blur(2px);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.wrapper:last-child {
    margin-bottom: 0;
}

h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.input {
    height: 30px;
    /*border-radius: 4px;*/
    box-sizing: border-box;
}

button {
    border: none;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: all .12s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

button:hover {
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .3);
    transform: scale(1.05);
}

button:disabled {
    background-color: gray;
    cursor: auto;
}

button:disabled:hover {
    box-shadow: none;
    transform: none;
}

.editableSpan {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.editableSpan::before {
    content: "\270E";
}

input[type=radio] {
    opacity: .8;
}

.hw8_span {
    color: #3b3b3b;
    border: 1px solid white;
    margin-bottom: 3px;
    padding: 5px 20px;
    font-weight: 500;
    /*cursor: pointer;*/
    background-color: rgba(255, 255, 255, .8);
    text-decoration: underline;
}

.hw8_span:nth-child(even) {
    background-color: rgba(255, 255, 255, .5);
}

.rangeSliderBox {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doubleRange {
    margin-left: 10px;
    margin-right: 20px;
}

.rangeValue {
    font-size: 20px;
    width: 20px;
    flex-shrink: 0;
}